############################################# \
######## USER CONFIG OVERRIDES FILE #########  + --> This will help you personalize my config to your printer :)
############################################# /

# This file is yours! Feel free to edit it in order to include all the needed
# things to adapt my generic config to your machine. This file will not be erased
# when updating the config using moonraker and it will be kept as you've set it.
# You can change every section of the config. You can also add some new custom macros, etc...
# The corresponding documentation can be found in: docs > overrides.md

### Also, keep in mind: if you use a multi-MCU config such as the old school double SKRs or a CANbus toolhead
### board, you will need to specify which components are connected to which board in your own mcu.cfg file!
### Example: if something is connected to the toolhead MCU, you should use "config_pin: toolhead:PIN_NAME".

#> Main control MCUs are called "mcu" (and "secondary" when using a double MCU configuration)
#> Toolhead CANboard MCUs are called "toolhead"
#> MMU/ERCF MCUs are called "mmu" 

# ------------------------------------------------------------------------------------------

[printer]
max_velocity: 400 # Based on default config: https://github.com/VoronDesign/Voron-2/blob/Voron2.4/firmware/klipper_configurations/Octopus/Voron2_Octopus_Config.cfg
max_accel: 3000 # Based on default config
max_z_velocity: 15 # Based on default config
max_z_accel: 350 # Based on default config
# minimum_cruise_ratio: 0.5 # This left commented to not break older Klipper versions
square_corner_velocity: 5.0
#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

## The START_PRINT sequence is modular and fully customizable. A default START_PRINT sequence is auto-populated based on
## your probe choice (TAP, Dockable, Inductive), but if for some reasons you still want to modify it, please uncomment the following 3
## lines to define a new `variable_startprint_actions`. You can use any number of action or even duplicate some actions if needed.
## Available actions: "bed_soak", "extruder_preheating", "chamber_soak", "extruder_heating", "tilt_calib", "z_offset", "bedmesh", "purge", "clean", "primeline"
##
[gcode_macro _USER_VARIABLES]
variable_startprint_actions: "bed_soak", "extruder_preheating", "clean", "tilt_calib", "clean", "bedmesh", "extruder_heating", "purge", "clean", "z_offset", "primeline"
gcode: # do not remove this line

#-------------------------#
#   EXTRUDER/BED PIDs     #
#-------------------------#

## Here is an example of some overrides for the PIDs. I put them here as almost everyone will use them,
## so just uncomment the following lines and change the values according to your own machine
[extruder]
control: pid
pid_kp: 29.657
pid_ki: 3.595
pid_kd: 61.167
max_temp: 280
rotation_distance: 22.905740611
sensor_type: ATC Semitec 104NT-4-R025H42G


[heater_bed]
control: pid
pid_kp: 48.883
pid_ki: 1.928
pid_kd: 309.794
sensor_type: ATC Semitec 104NT-4-R025H42G


#-------------------------#
#   Z MOTORS DIRECTION    #
#-------------------------#

## Here is an example of some overrides for the motor directions as it's a pretty common one. If you need
## to invert the Z1 or Z3 motor direction on your machine, just uncomment the following lines.
[stepper_z1]
dir_pin: !Z1_DIR

[stepper_z3]
dir_pin: !Z3_DIR


[tmc2209 stepper_x]
interpolate: false

[tmc2209 stepper_y]
interpolate: false

[tmc2209 stepper_z]
interpolate: false

[tmc2209 stepper_z1]
interpolate: false

[tmc2209 stepper_z2]
interpolate: false

[tmc2209 stepper_z3]
interpolate: false


#-------------------------#
#   Probe Offsets         #
#-------------------------#

## Here is an example of some overrides for bed probes. These frequently have calibrated offsets for xyz,
## and many will need them during setup. If you need to set these, just uncomment the following lines.
[probe]
z_offset: -0.440



[temperature_sensor Chamber]
sensor_type: Generic 3950


[input_shaper]
shaper_type_x: mzv # filter type for the X axis
shaper_freq_x: 52.8 # center frequency for the X axis filter
damping_ratio_x: 0.076 # damping ratio for the X axis
shaper_type_y: mzv # filter type for the Y axis
shaper_freq_y: 39.6 # center frequency for the Y axis filter
damping_ratio_y: 0.075 # damping ratio for the Y axis

[output_pin caselight]
value: 10


#-------------------------#
#   Custom Macros         #
#-------------------------#
[gcode_macro COMPARE_BELTS_RESPONSES]
rename_existing: BASE_COMPARE_BELTS_RESPONSES
gcode:
  ROTATE_BELTS
  BASE_COMPARE_BELTS_RESPONSES MAX_SCALE=3000000


[gcode_macro COMPARE_BELTS]
gcode:
  ROTATE_BELTS
  BASE_COMPARE_BELTS_RESPONSES MAX_SCALE=3000000


  
[gcode_macro ROTATE_BELTS]
gcode:
  G28
  G1 X10 Y10 F60000
  G1 X10 Y290 F60000
  G1 X290 Y290 F60000
  G1 X290 Y10 F60000
  G1 X10 Y10 F60000
  G1 X290 Y10 F60000
  G1 X290 Y290 F60000
  G1 X10 Y290 F60000
  G1 X10 Y10 F60000
